body{
    background-image: url("https://images6.alphacoders.com/440/thumb-1920-440360.jpg");
    background-repeat: no-repeat;
    background-size: cover
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    float: center;
}
a{
    color: white;
}
.col-md-12{
    text-align: center;
}
h1{
    font-family: pacifico;
    color: white;
}